@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon!</h1>
<h3>Select stylists or clients:</h3>
<button>@Html.ActionLink("All Stylists", "Index", "Stylists")</button>
<button>@Html.ActionLink("All Clients", "Index", "Clients")</button>
<hr>